@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.about__cards,
.about__card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about__cards {
  .about__card {
    .about__img {
      width: 100%;
    }

    .about__badge {
      > h2 {
        margin-bottom: 0.75rem;
      }
    }
  }

  .about__card:nth-child(3) {
    > img {
      display: none;
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
  .about__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .about__card:nth-child(3) {
      > img {
        display: flex;
      }
    }
  }
}
