@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.faq {
  background: var(--color-grey);
  color: var(--color-white);
}

.faq__content {
  display: flex;
  flex-direction: column;
}

.accordion {
  /* details */
  .accordion__item {
    .accordion__question::-webkit-details-marker {
      display: none;
    }
    /* summary */
    .accordion__question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 1.125rem 0;
      cursor: pointer;
    }

    .accordion__answer {
      line-height: 24px;
      padding-bottom: 1.25rem;
    }

    .accordion__question::after {
      content: url(/src/assets/plus.svg);
      height: 1.5rem;
      transition: transform 0.3s ease-in-out;
    }
  }

  .accordion__item[open] .accordion__question::after {
    transform: rotate(45deg);
  }

  .accordion__line {
    height: 1px;
    border-top: 0.5px solid var(--color-white);
  }
}

@media (min-width: 1440px) {
  .faq__content {
    flex-direction: row;
    gap: 2.5rem;

    .faq__badge,
    .accordion {
      flex: 1;
    }
  }
}

@media (hover: hover) {
  .accordion {
    .accordion__item {
      .accordion__question:hover {
        color: var(--color-red);
      }
    }
  }
}
