@import "/src/styles/variables.css";
@import "/src/styles/global.css";

.portfolio {
  color: var(--color-white);
  background: var(--color-grey);
}

.portfolio__wrapper {
  padding: 3.75rem 0;
}

.portfolio__badge {
  padding: 0 1.25rem;
}

.portfolio__viewport {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.portfolio__slider {
  display: flex;
  gap: 1.25rem;
  height: 40.875rem;
  width: max-content;
  padding: 0 1.25rem;

  .portfolio__img {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  .portfolio__img:nth-child(1) {
    align-self: flex-end;
  }
  .portfolio__img:nth-child(2) {
    align-self: center;
  }
  .portfolio__img:nth-child(3) {
    align-self: center;
  }
  .portfolio__img:nth-child(4) {
    align-self: flex-start;
  }
  .portfolio__img:nth-child(5) {
    align-self: center;
  }
  .portfolio__img:nth-child(6) {
    align-self: center;
    scroll-snap-align: end;
  }
  .portfolio__img:nth-child(7) {
    align-self: flex-start;
    scroll-snap-align: start;
  }
  .portfolio__img:nth-child(8) {
    align-self: flex-end;
  }
  .portfolio__img:nth-child(9) {
    align-self: center;
  }
  .portfolio__img:nth-child(10) {
    align-self: flex-start;
  }
  .portfolio__img:nth-child(11) {
    align-self: center;
  }
  .portfolio__img:nth-child(12) {
    align-self: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
  .portfolio__viewport {
    overflow: hidden;
    width: 100%;
    scroll-snap-type: none;
  }

  .portfolio__slider {
    will-change: transform;
  }
}
